* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Abel", sans-serif;
	font-size: 18px;
	background: #0f2027;
	background: -webkit-linear-gradient(to right, #2c5364, #203a43, #0f2027);
	background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
}

.button {
	display: inline-block;
	border-radius: 4px;
	background-color: #0f7c74;
	border: none;
	color: #ffffff;
	text-align: center;
	font-size: 18px;
	padding: 15px;
	transition: all 0.5s;
	cursor: pointer;
	width: 150px;	
	font-family: "Abel";
}

.button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.button span:after {
	content: "\00bb";
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.button:hover span {
	padding-right: 25px;
}

.button:hover span:after {
	opacity: 1;
	right: 0;
}
.button:focus {
	outline: none;
}
.button:active {
	transform: translateY(4.5px);
}

.container {
	width: 85%;
	margin: 80px auto;
	color: black;
	margin-top: 100px;
}

.header {
	text-align: center;
	padding: 20px;
	background-color: #1b262c;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	color: white;
	font-family: "Economica", sans-serif;
	font-size:25px;
}

.main {
	padding: 30px 40px;
	background-color: #363538;
	color: white;
	font-weight: 400;
	font-size: 18px;
}

.main input{
	font-size: 20px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

#landingUsername {
	font-family: inherit;
	font-size: inherit;
	background-color: white;
	border: none;
	color: black;
	padding: 0.7rem 2rem;
	width: 90%;
	transition: all 0.2s;
	border-radius: 2px;
	margin-top: 30px;
	margin-bottom: 10px;
}

#landingUsername:focus {
	outline: none;
	width: 100%;
}