<!DOCTYPE html>
<html>
    <head>
        <title>Mafia City</title>
        <link rel="stylesheet" type="text/css" href="homeStyle.css">
        <link rel="icon" href="favicon.ico">
        <link href="https://fonts.googleapis.com/css?family=Abel|Bellota+Text&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Economica|Lobster+Two&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class='header'>Mafia City</div>            

        <div class='container'>
            <div class='subC1'>
                <div class='joinRoom'>
                    <div class='title'>Join Room</div>
                        <input id='joinRoomId' placeholder="Room ID" required><br>
                        <input id='joinRoomPass' placeholder="Room Password" required>
                        <button id='join'>Join</button>
                </div>
            </div>
            <div class='divider'></div>
            <div class='subC2'>
                <div class='createRoom'>
                    <div class='title'>Create Room</div>
                        <input id='createRoomName' placeholder="Room Name" required>
                        <input id='createRoomPass' placeholder="Room Password" required>
                        <button id='create'>Create</button>
                </div>
            </div>
        </div>
        
        <button id='joinCurRoom'>Join Current Room</button>
        <div class='footer'>
            User-name: <span id='pName'></span> &nbsp&nbsp&nbsp&nbsp | &nbsp&nbsp&nbsp&nbsp 
            Total players In-game: <%= numUsers %> &nbsp&nbsp&nbsp&nbsp | &nbsp&nbsp&nbsp&nbsp 
            Current-Room: <span id='curRoom'></span></span>
        </div>
        <div id='overlay'></div>

        <script src="/socket.io/socket.io.js"></script>
        <script src="homeScript.js"></script>
    </body>
</html>