:root {
    --color0: #1b1b1b;
    --color1: #1d2f38;
    --color2: #28424d;
    --color3: #ffffff;
    --color4: #bbe1fa;
    --color5: #192329;
    --color6: rgb(29, 67, 82);
    --color7: white;
    --color8: #1d2f38;
    --color9: #1b1b1b;
}

[data-theme="light"] {
    --color0: #ffffff;
	--color1: #b74756 ;
	--color2: #050505;
	--color3: black;
    --color4: #000000;
    --color5: #1b1b1b;
    --color6: #b2022f;
    --color7: #ffffff;
    --color8: #b74756 ;
    --color9: #f5f5f5;
}

[data-theme="other"] {
    --color0: #e9e9e96b;
	--color1: #522449 ;
	--color2: #743767;
	--color3: black;
    --color4: #000000;
    --color5: #42183a;
    --color6: #66315b;
    --color7: #ffffff;
	--color8: #522449 ;
}



html{
    font-family: 'Abel';
    font-size: 21px;
}

body{
    zoom: 0.92;
    background-color:  var(--color0);
    margin: 0;
}

.header{    
    background-color: var(--color1);
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    font-size: 66px;
    font-family: 'Economica', sans-serif;
    width: 100%;
    position: fixed;
    top: 0;
    border-bottom: 2px solid var(--color4);
    text-align: center;
    z-index: 100;
    cursor: default;
    transition: height 0.3s ease-in-out;
    -webkit-transition: height 0.3s ease-in-out;
    height: 76px;
    overflow: hidden;
}

.container{
    width: 100%;
}

.subC1{
    width: 50%;
    height: 100%;
    margin-top: 85px;
    padding-left: 15px;
    padding-right: 15px;
    position: fixed;
    left: 50%;
    float: left;
    color: var(--color3);
    background-color: var(--color9);
}
.divider{
    border-right: 2px solid var(--color4);
    height: 8960px;
    position: fixed;
    z-index: 99;
    left: 50.1%;
    margin-left: -3px;
}

.divider2{
    border-top: 2px solid var(--color4);
    width: 50%;
    margin-top: 80px;
    position: fixed;
    z-index: 99;
    left: 50%;
}

.joinRoom{
    margin-top: 65px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.title{
    font-size: 40px;
    font-family: 'Economica', sans-serif;
    display: inline;
}

.input2{
    width: 80%;
    font-family: 'Abel';
    font-size: 18px;
    margin-top: 10px;
    padding-left: 10px;
    border: 1.5px solid black;
}

input:focus{
    outline:none;
}

.createRoom{
    margin-top: 120px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

button{
    width: 28%;
    overflow: hidden;
    white-space:nowrap;
    margin-top: 10px;
    font-family: 'Abel';
    font-size: 18px;
    color: white;
    background-color: var(--color5);
    border: 1.5px solid var(--color4);
    padding: 5px
}


#joinCurRoom{
    margin-left: 5px;
    height: 37px;
    width: 40%;
    overflow: hidden;
}

button:hover{
    cursor: pointer;
    background-color: var(--color2);;
}

button:checked{
    outline: none;
}

.footer{
    background-color: var(--color8);
    font-size: 16px;
    width: 49%;
    position: fixed;
    bottom: 0;
    left: 50%;
    z-index: 40;
    padding-bottom: 8px;
    padding-top: 8px;
    border-top: 2px solid var(--color4);
    color: white;
    height: 18px;
    padding-left: 15px;
}

#overlay{
    background-color: var(--color1);
    height: 5000px;
    width: 5000px;
    position: fixed;
    top: 0;
    z-index: 999999;
}

#globalForm{
    width: 50%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 40;
}

#globalInp{
    width: 78%;
    font-size: 18px;
    background-color: var(--color8);
    color: white;
    font-family: 'Abel';
    border: none;
    padding: 5.5px;
    padding-left: 10px;
    padding-right: 10px;
    border-top: 2px solid var(--color4);
}

#globalSubmit{
    position: fixed;
    right: 50%;
    bottom: 0px;
    padding-top: 6px;
    width: 10%;
    z-index: 5;
    border-bottom: none;
    border-top: 2px solid var(--color4);
    border-right: none;
    
}

#globalSubmit:checked{
    outline: none;
}

input:focus{
    outline:none;
}

.messagesDiv{
    width: 100%;
}
#messages { 
    list-style-type: none;
    margin: 0; 
    padding: 0; 
    font-family: 'Abel';
    font-size: 21px;
    color: var(--color3);
}
#messages li { 
    padding: 3px 5px;
}

.msgContainer{
    width: 50%;
    height: 100%;
    margin-top: 113px;
    margin-bottom: 44px;
    word-wrap: break-word;
    float: left;
    padding-left: 5px;
}

.theme-switch-wrapper {
    display: inline;
    align-items: center;
    z-index: 110;
    position: fixed;
    left: 20px;
    top: 20px;
}

.theme-switch {
    display: inline-block;
    height: 24px;
    position: relative;
    width: 73px;
}
  
.theme-switch input {
    display:none;
}
  
.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
    border: 2px solid white;

}
  
.slider:before {
    background-color: rgb(255, 255, 255);
    bottom: 3px;
    content: "";
    height: 16px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 16px;
}
  
input:checked + .slider {
    background-color: var(--color0);
    border: 2px solid black;
}

  
input:checked + .slider:before {
    background-color: black;
    transform: translateX(45px);
}
  
.slider.round {
    border-radius: 0px;
    margin-top: -3px;
    background-color: var(--color1);
}
  
.slider.round:before {
    border-radius: 0%;
    background-color: white;
}

#serverMsg{
    color: var(--color7);
    margin-bottom: 5px;
    background-color: var(--color6);
    margin-right: 12px;
}

#footer2{
    position: fixed;
    bottom: 0px;
    height: 34px;
    background-color: var(--color8);
    width: 100%;
    border-top: 2px solid var(--color4);
}

.hamburger {
    display: inline-block;
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 101;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }

hr{
    width: 1000%;
    transform: translateX(-240px);
    background-color: #bbe1fa;
    border-top: 1px solid #bbe1fa;
}

  .instructions{
      font-family: 'Abel';
      color: white;
      font-size: 20px;
      z-index: 101;
      text-align: justify;
      transform: translateY(16px);
      padding: 20px;
      padding-top: 0px;
      background-color: var(--color5);
      padding-bottom: 1000px;
  }

  #matter{
      border: 2px solid white;
      padding: 20px;
      padding-top: 30px;
      transform: translateY(-70px);
      position: relative;
      background-color: var(--color5);
  }

  #howTo{
    position: relative;
    font-size: 40px;
    margin-left: 20px;
    background-color: var(--color5);
    display: inline-block;
    font-family: 'Economica', sans-serif;
    z-index: 104;
    transform: translateY(-20px);
  }