body{
    background-color: #363538;
    margin: 0;
}

.header{
    background-color: #1b262c;
    padding: 5px;
    color: white;
    font-size: 46px;
    font-family: 'Pacifico', cursive;
    width: 100%;
    position: fixed;
    border-bottom: 2px solid #bbe1fa;
    text-align: center;
    z-index: 100;
}

#form1{
    position: fixed;
    width: 100%;
    bottom: 0px;
    text-align: center;
    background-color: #1b262c;
    border-top: 2px solid #bbe1fa;
}

input {
    resize: none;
    white-space: pre-line;
}

input:focus{
    outline:none;
}

#inp1{
    width: 100%;
    padding: 0px; 
    background-color: #1b262c;
    font-size: 18px;
    color: #ffffff;
    font-family: 'Abel';
    border: none;
}

#inp1:focus{
    border: none;
}

#btn:checked{
    outline: none;
}

#btn1{
    width: 100%;
    padding: 5px;
    cursor: pointer;
    font-size: 18px;
    color: #ffffff;
    overflow: hidden;
    background-color: #1b262c;
    font-family: 'Bellota Text', cursive;
    border: none;
    border-left: 2px solid #bbe1fa;
    outline:none;
}

#btn1:hover{
    background-color: #33444b;
}

.blocks{
    width: 100%;
}

.block1{
    display: inline-block;
    width: 90%;
}

.block2{
    display: inline-block;
    width: 9%;
    height: 100%;
}
.container{
    width: 50%;
    height: 100%;
    margin-top: 95px;
    margin-bottom: 34px;
    word-wrap: break-word;
    float: left;
}
.divider{
    border-left: 3px solid #bbe1fa;
    height: 650px;
    position: fixed;
    left: 50%;
    margin-left: -3px;
    top: 50px;
}

.container2{
    width: 45%;
    height: 100%;
    position: fixed;
    float: left;
    margin-top: 95px;
    margin-bottom: 34px;
    word-wrap: break-word;
    left: 50%;
}
.messagesDiv{
    width: 100%;
}


#messages { 
    list-style-type: none;
    margin: 0; 
    padding: 0; 
    font-family: 'Abel';
    font-size: 21px;
    color: white;
}
#messages li { 
    padding: 2px 10px;
    color: white; 
}


#members { 
    list-style-type: none;
    margin: 0; 
    padding: 0; 
    font-family: 'Abel';
    font-size: 21px;
    color: white;
}
#members li { 
    padding: 2px 10px;
    color: white; 
}